<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
 
<head>
    <title>Image Colorization using AI</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">
 
 
</head>
 
<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active btn"><a href="#">Home</a>
                    </li>
                    <li role="presentation" class="btn"><a href="https://github.com/rickmunene">rickmunene</a>
                    </li>
                </ul>
            </nav>
            <img style="pull-left" src="/static/images/logo.png" alt="Responsive image" height="50" />
        </div>

        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4 font-weight-normal">B&W Photos in Color</h1>
            <img src="/static/images/banner.png" class="center-block" alt="Responsive image" width="1080" />
            <p class="lead font-weight-normal">Bring your old black and white photos to life.
                </br> Our free image colorization service is powered by AI to refresh old memories in color.</p>
            <a class="btn btn-outline-secondary" href="#">Follow Us on Twitter</a>
        </div>
 
        <div class="jumbotron">
            <h1 class="display-4">Upload your image</h1>
            <p class="lead"></p>
	       <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <input id="file-picker" type="file" name="file" accept="image/*" class="hidden" onchange="this.form.submit()">
            <label for="file-picker" class="btn btn-lg btn-success">Select file</label>
		    </form>
        </div>
 
        <div class="row marketing">
            <div class="my-4">
                <h4>Powered by Hewani AI</h4>
                <p>Colorize black and white images or videos using deep learning AI; add color to old family photos and historic images, or bring an old film back to life.</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; rickmunene 2020. Using Python, Flask, OpenCV and PIL.</p>
        </footer>
 
    </div>
</body>
 
</html>

