<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Process your image</title>
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="https://github.com/rickmunene">rickmunene</a> </li>
                </ul>
            </nav>
            <img style="pull-left" src="/static/images/logo.png" alt="Responsive image" height="50" />
        </div>

        <div class="jumbotron">
		 <div id="image-container">
            <img src=" {{url_for('send_image', filename=image_name)}} " style="max-width: 560px;", height="450">
         </div>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <form id="form-color" action="{{ url_for('color') }}" method="POST" enctype="multipart/form-data">
                  <button id="btnFlipL" class="btn btn-lg btn-success" type="submit" >Color Your Photo</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form>
            </div>
         </div>
 
        <footer class="footer">
            <p>&copy; rickmunene 2020. Using Python, Flask, OpenCV and PIL.</p>
        </footer>
 
    </div>
</body>
 
</html>

